<ul class="flex flex-wrap mb-4 lg:mb-8 xl:mb-12 2xl:mb-16">
  @for (breadcrumb of breadcrumbs; track breadcrumb; let isLast = $last) {
    @if (!isLast) {
      <li>
        <a class="flex text-[18px] sm:text-[20px] lg:text-[22px] xl:text-[25px] font-extrabold text-grey-light" [routerLink]="[breadcrumb.url]">
          {{ 'breadcrumbs.' + breadcrumb.label | translate }}
          <span class="mx-1.5">></span>
        </a>
      </li>
    }
    @if (isLast) {
      <li>
        @if (!showLastItemCustomLabel) {
          <span class="text-[18px] sm:text-[20px] lg:text-[22px] xl:text-[25px] font-extrabold text-secondary">
            {{ 'breadcrumbs.' + breadcrumb.label | translate }}
          </span>
        }
      </li>
    }
  }
  <li>
    @if (showLastItemCustomLabel) {
      <span class="text-[18px] sm:text-[20px] lg:text-[22px] xl:text-[25px] font-extrabold text-secondary">
        {{ lastItemCustomLabel }}
      </span>
    }
  </li>
</ul>